.row{
    margin: 0px;
}

#flexWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#topBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    position: relative;
    z-index: 100;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 5px;
    background-color: dimgray;
}


#btnToggleSideBar {
    outline: none !important;
    box-shadow: none !important;
}

#contentWrapper {
    width: 100%;
    display: flex;
    height: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 576px) {
    #contentWrapper {
        width: 100%;
        position: relative;
        display: flex;
        overflow: auto;
    }

    #sideBar {
        position: absolute;
        width: 240px;
        top: 0px;
        bottom: 0px;
        height: 100%;
        transition: all 0.5s ease-out;
        z-index:99;
    }
}

#sideBar {
    flex-basis: 240px;
    flex-shrink: 0;
    height: 100%;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-out;
    background-color: white;
    overflow: auto;
    background-color: lightblue;
}

#sideBar.off {
    margin-left: -240px;
    flex-basis: -240px;
    transition: all 0.5s ease-out;
}

.nav-link {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid dimgray;
    text-align: center;
}

ul {
    padding-left: 5px !important;
}

#main {
    overflow: auto;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

iframe, object, embed {
    max-width: 100%;
    max-height: 100%;
}

.carousel-pic{
    height:50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-pic img{
    max-height: 100%;
    max-width: 100%;
}
