div#wallPaper{
	width:100vw;
	height:177vw;
	background-size:100%;
	background-repeat: no-repeat;
	background-image: url("homeScreen.png");
}

img#pic1{
}

div#app1Div{

}

div#div2{
	margin:0px;
	padding:0px;
	border:0px;
}

img#homeKey{
	
}




