
.grid-container {
    margin: auto;
    border-top: 1px solid #525252;
    border-left: 1px solid #525252;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    margin-top: 15px;
    max-width: 80%;
    text-align: center;
    
}

.row {    
    margin: auto;}
.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    padding-left: 5px;
    padding-top:10px;
    padding-bottom:10px;
    float: left;
    align-items: center;
    display: flex;    
    text-align:left;
    border-top: 1px solid #525252;
    border-left: 1px solid #525252;   
    font-size: 16px;
}

.bg_c {
    background: #aacfd0;
}
.bg_d {
    background: rgba(170, 207, 208, 0.30);
 
}



tr:nth-child(1) {    
    background-color: #aabbd0 !important;
} 
tr:nth-child(odd) {

    background-color: #d1d1d1;
}

