* {
    margin: 0;
    padding: 0;
}

body{
    position:relative;
}

#multi_table {
    border: 1px solid blue;
    border-collapse: collapse;
    margin: auto;
}

#multi_table tr:nth-child(2n){

    background-color:rgba(0, 236, 255, 0.34);

}

#multi_table td {
    border: 1px solid blue;
    padding: 5px;
    text-align: center;
}

#multi_table td:hover {
    background-color: blue;
    color: white;
}

form {
    width: 80%;
    margin: auto;
    background-color: rgba(0,0,0,0.1);
}

.hint {
    color: red;
    display: inline;
}
#starsEval{
    width: 80%;
    margin:auto;
    text-align: center;
}

#slide{
    position:relative;
    width: 50%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);  
}

.frame{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color:rgba(255,255,255,0);
    z-index: 1;
}

.photo{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    cursor: pointer;
}

#swiper{
    position: absolute;
    margin:auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 6%;
    background-color: rgba(0,0,0,0.2);
    z-index: 2;
}

.arrow{
    position: absolute;
    height:40px;
    width:40px;
    background-color: rgba(0,0,0,0);
    font-size: 2em;
    color: rgba(255,255,255,0);
    z-index: 2;
}

.pre_arrowHover{
    position: absolute;
    cursor: pointer;
    height:40px;
    width:40px;    
    background-color: rgba(0,0,0,0.3);
    background-image: url("../Images/arrow_pre.png");
    background-size: 100%, 100%;
    font-size: 2em;
    color: rgba(255,255,255,1);
    z-index: 2;
}

.next_arrowHover{
    position: absolute;
    cursor: pointer;
    height:40px;
    width:40px;    
    background-color: rgba(0,0,0,0.3);
    background-image: url("../Images/arrow_next.png");
    background-size: 100%, 100%;
    font-size: 2em;
    color: rgba(255,255,255,1);
    z-index: 2;
}

.dot{
    position:relative;
    display: inline-block;
    border-radius: 100%;
    background-color:black;
    opacity: 0.3;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.dotWhite{
    position:relative;
    display: inline-block;
    border-radius: 100%;
    background-color:white;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

#slideBtns{
    width: 50%;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(100,0,0,0.2);
}

#slideBtns img{
    width: 50px;
    cursor: pointer;
}

#viewport {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
}

#app{
    width:75%;
    margin: auto;
    text-align: center;
}

#mview{
    margin: auto;
    border-collapse: collapse;
    border: 1px solid gray;
}

#mview td{
    border: 1px solid blue;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.mtd1{
    background-color: rgba(100, 149, 237, 0.3)
}

.mtd2{
    
}

.selectedDate{
    font-weight: 900;
}

.hasTodo{
    background-color: rgba(100, 255, 237, 0.3)
}

.notThisMonth{
    color:darkgray;
}

#dview_wrapper{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#todoDiv{
    width:80%;
    padding-top: 10vh;
    height:80vh;
    padding-bottom: 10vh;
    margin: auto;
}

#exit{
    cursor: pointer;
    position: absolute;
    top:0px;
    right: 0px;
}