*{
	border:0px;
	margin:0px;
	padding:0px;
}

body{
	background-color: green;
}


.cards{
	width:20vw;
	border:0px;
	margin:0px;
	padding:0px;
}

.myDeckCards{
	width:20vw;
	border:0px;
	margin:0px;
	padding:0px;
}

.opponentCards{
	width:20vw;
	border:0px;
	margin:0px;
	padding:0px;
}

.poolCards{
	height:10vw;
	
}

#div1{
	border:0px;
	margin:0px;
	padding:0px;
	width:20vw;
	height:95vh;
	float:left;

}
#div2{
	position: relative;
	width:48vw;
	height:95vh;
	float:left;
	text-align:center;
}

#div3{
	clear:both;	
	text-align:center;
	margin-left: auto;
    margin-right: auto;
}

#div4{
	height:36vw;
}

#div5{
	float:right;
	width:20vw;
	height:95vh;
}

#div6{
	clear:both;	
	position: absolute;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.5);
	z-index: 1;
	display: none;
}

#div7{
	width:60vw;
	height:50vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	margin-bottom: 25vh;
	background-color: fuchsia;
	text-align: center;
	font-size: 3vw;
}

#div8{
	width:60vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

.callingRank{
	width:12vw;
	max-height: 20vh;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	border:2vw;
}

#div9{
	width:40vw;
	margin-left: auto;
	margin-right: auto;
}

button{
	margin:1vw;
	border:1vw;
	padding:1vw;
	font-size: 3vw;
}

#cardNum{
	font-size: 5vw;
}

.readMe{
	font-size: 2.5vw;
}

#div11{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:rgba(0,0,0,0.5);;
}

#div10{
	width:30vw;
	height:20vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	margin-bottom: 25vh;
	background-color: fuchsia;
	text-align: center;
}

#confirm{
	margin-top: 10vh;
}

#redo{
	margin-top: 10vh;
}